$pure-white: #fff;
$white-2: #f2f2f2;
$primary: #004d40;
$primary-light: #046958;

@mixin background-opacity($color, $opacity: 0.5) {
  //background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}

@mixin for-phone-only {
  @media (max-width: 799px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 1199px) and (min-width: 800px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
